.row {
  text-align: center;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-color: var(--bs-secondary-color);
}

.table thead tr th {
  background-color: var(--bs-secondary-bg);
}

.table tbody tr:first-of-type td {
  background-color: var(--bs-tertiary-bg) !important;
  font-weight: 500;
}